.form{
    display: flex;
    gap:15px;
    width: 20vw;
    flex-direction: column;
    padding: 20px 40px;
	box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.label{
    display:flex;
    flex-direction: column;
    color: rgb(51, 51, 51);

font-size: 14px;
font-weight: 600;
line-height: 19px;
}
.btnform{
    margin-top: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-decoration: underline;

}
.input{
  
    border:1px solid lightgray;
    border-radius: 5px;
    padding:5px;
}
.title{
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(51, 51, 51);
  
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
}